/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

body {
  font-family: 'Montserrat', sans-serif;
}

/* Если вам нужны разные веса шрифта */
h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Использование шрифта Montserrat для кода */
code {
  font-family: 'Montserrat', monospace;
}

* {
  margin: 0;
  padding: 0;
}

.home-editor {
  border: 1px solid #403f4f !important;
  padding: 10px !important;
  border-radius: 5px !important;
  height: 25vh !important;
}
.rdw-editor-main {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}
.wrapper-class {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: #525659;
  font-family: Segoe UI, Tahoma, sans-serif;
}

.Example__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  z-index: -1;
}
.Example__container__load {
  margin-top: 1em;
  color: white;
}
.Example__container__document {
  margin: 1em 0;
}
.Example__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}
.Example__container__document .react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;
  z-index: -1;
}
.Example__container__document .react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}

/* //// */

.footer {
  background-color: #f0f2f5;
  padding: 40px 0;
  text-align: center;
}

.footer-row {
  height: 100%;
}

.header-row {
  height: 100%;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: #ffffff;
}

.social-icons a:hover {
  color: #1890ff;
}

.social-footer {
  display: flex;
  align-items: center;
}

.social-footer a {
  margin-right: 10px;
  font-size: 20px;
  color: #000;
}

.social-footer a:hover {
  color: #1890ff;
}

.logo-container {
  /* display: flex; */
  /* justify-content: center; */
  align-items: left;
  width: 100%;
  color: white;
  font-size: 18px;
  /* height: 80px; */
  flex-wrap: wrap;
}

.logo-container-footer {
  /* display: flex; */
  /* justify-content: center; */
  align-items: left;
  width: 100%;
  color: black;
  font-size: 18px;
  /* height: 80px; */
  flex-wrap: wrap;
}

.logo {
  /* border: 1px solid #1677ff; */
  /* padding: 10px; */
  letter-spacing: 6px;
}

.gutter-box {
  padding: 8px 0;
}
